* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.container > img {
  width: 650px;
  height: 500px;
  object-fit: cover;
  margin: 100px 0;
}

.topleft {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.topleft h1 {
  color: #ff6392;
  font-size: 70px;
}

.topleft h3 {
  font-weight: normal;
  font-size: 25px;
}

.topleft a {
  display: block;
  cursor: pointer;
  padding: 20px 35px;
  font-size: 2em;
  text-decoration: none;
  border-radius: 20px;
  color: #ffff;
  box-shadow: 3px 3px 3px rgb(170, 170, 170);
  transition: all 0.3s ease;
  background-color: #ff6392;
}

.topleft a:hover {
  box-shadow: 6px 6px 6px rgb(170, 170, 170);
  transition: all 0.3s ease;
}

#bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.bottomleft {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bottomleft h3 {
  color: #ff6392;
  font-size: 30px;
}

.form {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form input {
  border: none;
  height: 70px;
  border-radius: 20px;
  border: 1px solid gainsboro;
  font-size: 25px;
  padding: 0 10px;
}

.form button {
  border: none;
  background-color: #ff6392;
  color: #ffff;
  padding: 20px 35px;
  border-radius: 20px;
  font-size: 2em;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgb(170, 170, 170);
  transition: all 0.3s ease;
}

.form button:hover {
  transition: all 0.3s ease;
  box-shadow: 6px 6px 6px rgb(170, 170, 170);
}

#map {
  width: 650px;
  height: 500px;
}

footer {
  height: 100px;
  background-color: #ff6392;
  display: grid;
  place-content: center;
  color: white;
  font-size: 15px;
}
